body{background-color: #FDFFFC;
  text-align: center;
  margin: 0;}

.one{
background-color: #7c4dff;
  position: relative;
height: 80px;
margin: 0;}

/*.two{background-color: blue;;
  position: relative;
height: 80px;
width: 30%;
margin: 0;}*/
.thikkarale{margin: 0;
font-family: 'Roboto Condensed', sans-serif;
  font-stretch: expanded;
  font-size: 27px;


  color: white;

position: absolute;
padding-top: 7px;
left: 85px;}

.repair{margin: 0;
position: absolute;
font-family: 'Roboto', sans-serif;
  color: white;
left: 85px;
padding-top: 48px;}
.logo{height: 60px;
width: 60px;
float: left;
position: absolute;
left: 10px;
top: 8px;}

.header{    display: block;
    text-align: center;
    text-decoration: none;
    color: #45b29a;
    font-size: 1.5em;}

.contact{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;


  color: white;

position: absolute;
padding-top: 27px;
right: 60px;}

.education{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;


  color: white;

position: absolute;
padding-top: 27px;
right: 140px;}

.experience{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;


  color: white;

position: absolute;
padding-top: 27px;
right: 318px;}

.skill{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;


  color: white;

position: absolute;
padding-top: 27px;
right: 425px;
}

.about{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;


  color: white;

position: absolute;
padding-top: 27px;
right: 480px;}

.home{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;


  color: white;

position: absolute;
padding-top: 27px;
right: 550px;}

.project{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;


  color: white;

position: absolute;
padding-top: 27px;
right: 240px;}

.contact:hover{color: #32dbc6;
}
.education:hover{color: #32dbc6;
}
.project:hover{color: #32dbc6;
}
.experience:hover{color: #32dbc6;
}
.skill:hover{color: #32dbc6;
}
.about:hover{color: #32dbc6;
}
.home:hover{color: #32dbc6;
}

.div2{background-color: white;
  position: relative;
  top: 80;
}

.design1{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;
  font-size: 50px;
  font-weight: 700;


  color: black;

position: absolute;
padding-top: 160px;
left: 60px;
width: 706px;
line-height: 45px;
}

.design2{margin: 0;
font-family: 'Roboto Condensed', sans-serif;
  font-stretch: expanded;
  font-size: 50px;


  color: black;

position: absolute;
padding-top: 210px;
left: 85px;}

.san{padding-top: 36px;
right: 65px;
position: absolute;
}

.sancaption{width: 500px;
position: absolute;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;
padding-top: 290px;;
left: 155px;}

.div3{background-color: #232323;
  position: relative;
  top: 600px;
height: 200px;}

.connect{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;
  font-size: 20px;


  color: white;

position: absolute;
padding-top: 35px;
left: 300px;}

.con{margin: 0;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;
  font-size: 20px;


  color: white;

position: absolute;
padding-top: 25px;
right: 300px;}

.img1{position: absolute;
padding-top: 80px;
left: 250px}

.img2{position: absolute;
padding-top: 80px;
left: 300px;}

.img3{position: absolute;
padding-top: 80px;
left: 350px;}

.img4{position: absolute;
padding-top: 80px;
left: 400px;}

.img5{position: absolute;
padding-top: 80px;
right: 500px;}

.img6{position: absolute;
padding-top: 80px;
right: 320px;}

.phone{position: absolute;
padding-top: 80px;
color: white;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;

right: 400px;}

.ea{position: absolute;
padding-top: 80px;
font-family: 'Roboto', sans-serif;
  font-stretch: expanded;

color: white;
right: 120px;}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;	position:absolute;
  top: 400px;
  left: 270px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:absolute;
padding-top: 100px;
}

.abouttext{font-size: 20px;
padding-left: 50px;
padding-right: 50px;
font-family: 'Roboto', sans-serif;
}

.projecttext{font-size: 20px;
font-family: 'Roboto', sans-serif;}
.skilll{top: 500px;}


